<!DOCTYPE html>
<html>
<%- partial('global/head/head.ejs') %>
<body>
  <%- partial('global/header/header.ejs') %>
  <%- partial('patterns/33-34-33/33-34-33.ejs') %>
  <%- partial('global/footer/footer.ejs') %>
</body>
</html>
